.content-fade-animation-enter {
    opacity: 0;
    transform: translate(0, 25px);
    z-index: 1;
}

.content-fade-animation-enter.content-fade-animation-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .25s ease-out, transform .3s ease;
}

.content-fade-animation-exit {
    opacity: 1;
    transform: translate(0, 0);
}

.content-fade-animation-exit.content-fade-animation-exit-active {
    opacity: 0;
    transform: translate(0, 30px);
    transition: opacity .25s ease-out, transform .3s ease;
}

@import './content/tasks-list.scss';